<a [routerLink]="['/products', product.id]" class="link" routerLinkActive="Active">
  <li class="product-item">
      <img [src]="product?.image_url" [alt]="product.title" class="thumbnail" />
      <h1 class="title">{{product?.title}}</h1>
      <p class="brand">by {{product.brand}}</p>
      <div class="product-details">
          <p class="price">Rs {{product.price}}/-</p>
          <div class="rating-container">
            <p class="rating">{{product.rating}}</p>
            <img
              src="https://assets.ccbp.in/frontend/react-js/star-img.png"
              alt="star"
              class="star"
            />
          </div>
      </div>
  </li>
</a>