<div>
    <app-header></app-header>
    <div class="payment-container">
        <img
        src="https://res.cloudinary.com/dnncpaqsn/image/upload/v1728916436/yymbb6xgdlq0usrtcven.png"
        alt="payment success"
        class="pay-success-img"
        />
        <h1 class="pay-success-text">Payment Successful</h1>
        <p class="thanks-text">
        Thank you for ordering.
        <br />
        Your payment is successfully completed.
        </p>
        <a routerLink="/" routerLinkActive="Active">
        <button class="go-to-home-btn">Go To Home Page</button>
        </a>
    </div>
</div>